[Unit]
Description=Run a speedtest
After=network.target

[Service]
Type=simple
User=zabbix
ExecStart=/usr/bin/speedtest.sh

[Install]
WantedBy=multi-user.target
