[Unit]
Description=Run a speedtest
After=network.target

[Service]
Type=simple
User=zabbix-agent
ExecStart=/etc/zabbix/bin/speedtest.sh

[Install]
WantedBy=multi-user.target
