[Unit]
Description=Run a speedtest
After=network.target

[Service]
Type=simple
User=zabbix-agent
ExecStart=/etc/zabbix/bin/zbx-speedtest.sh --run

[Install]
WantedBy=multi-user.target
